<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <style>
    .highlight {
      background-color: yellow;
    }
  </style>
</head>
<body>
  <div>
    <div th:text="${param.nickname}"></div>
    <div th:text="${param.age}"></div>
  </div>
  <hr>
  <div th:with="name='<홍길동>'">
    <div th:text="${name}"></div>
    <div>[[${name}]]</div>
  </div>
  <hr>
  <div th:with="name='<홍길동>'">
    <div th:utext="${name}"></div>
    <div>[(${name})]</div>
  </div>
  <hr>
  <div th:with="name='<홍길동>'">
    <div th:utext="${name}"></div>
    <div th:inline="none">[(${name})]</div>
  </div>
  <hr>
  <div th:each=" user: ${users}"
       th:class="${userStat.index % 2 == 0} ? 'highlight' : '' ">
    <div>
      <span th:text="${userStat.index}"></span>
      <span>-</span>
      <span th:text="${userStat.count}"></span>
      <span>-</span>
      <span th:text="${user.name}"></span>
      <span>-</span>
      <span th:text="${user.age}"></span>
    </div>
  </div>
  <hr>
  <div th:with="check = false">
    <th:block th:if="${check}">
      <span>참</span>
    </th:block>
    <span th:if="${check}">참</span>

    <th:block th:unless="${check}">
      <span>거짓</span>
    </th:block>
  </div>
</body>
</html>