<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 목록</title>
  <script defer th:src="@{/js/bbs/all.js}"></script>
</head>
<body>
  <h3>게시글목록</h3>

  <table>
    <thead>
    <tr>
      <th>게시글</th>
      <th>제목</th>
      <th>작성자</th>
      <th>작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bbs:${list}">
      <td th:text="${bbs.bbsId}">1</td>
      <td><a th:href="@{/bbs/{id}(id=${bbs.bbsId})}" th:text="${bbs.title}">컴퓨터</a></td>
      <td th:text="${bbs.writer}">20</td>
      <td th:text="${#temporals.format(bbs.createdAt,'yy/MM/dd')}">2,000,000</td>
    </tr>
    </tbody>
  </table>
  <div><button id="btnWrite" type="button">작성</button></div>
</body>
</html>