<th:block th:fragment="global">
  <div class="carousel relative flex justify-center items-center">
    <button id="prev" class="absolute left-0 top-1/2 transform -translate-y-1/2">
      <i class="fas fa-angle-double-left text-gray-300 hover:text-white"></i>
    </button>
    <img src="https://images.unsplash.com/photo-1541167760496-1628856ab772?q=80&w=1937&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 1" class="carousel-item active">
    <img src="https://images.unsplash.com/photo-1461023058943-07fcbe16d735?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 2" class="carousel-item">
    <img src="https://images.unsplash.com/photo-1594261956806-3ad03785c9b4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 3" class="carousel-item">
    <button id="next" class="absolute right-0 top-1/2 transform -translate-y-1/2">
      <i class="fas fa-angle-double-right text-gray-300 hover:text-right"></i>
    </button>
    <div class="radio-buttons absolute bottom-0 flex justify-center space-x-2 mb-2">
      <input type="radio" name="carousel" class="carousel-radio" checked>
      <input type="radio" name="carousel" class="carousel-radio">
      <input type="radio" name="carousel" class="carousel-radio">
    </div>
  </div>
</th:block>
<th:block th:fragment="admin">
  <p>admin </p>
</th:block>