<!DOCTYPE html>
<html id="root"
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="main(
        title,          <!--/* title */-->
        <!--/*--------------------------*/-->
        link,           <!--/* link */-->
        script,         <!--/* script */-->
        style,          <!--/* style */-->
        <!--/*--------------------------*/-->
        top,            <!--/* top */-->
        banner,         <!--/* banner */-->
        gnb,            <!--/* gnb */-->
        main,           <!--/* main */-->
        footer         <!--/* footer */-->
      )"

      th:with="s_memberId=${session?.loginMember?.memberId},
               s_email=${session?.loginMember?.email},
               s_nickname=${session?.loginMember?.nickname},
               s_gubun=${session?.loginMember?.gubun},
               use_banner = ${banner != null} ? true:false "

      th:data-s-member-id="${s_memberId}"
      th:data-s-email="${s_email}"
      th:data-s-nickname="${s_nickname}"
      th:data-s-gubun="${s_gubun}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf?.token}">
  <meta name="_csrf_header" th:content="${_csrf?.headerName}">
  <title th:if="${title != null}" th:replace="${title}">제목</title>

  <!--common style-->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/common.css">

  <!--common script-->
  <script src="/js/common.js" ></script>

  <!-- fontawesome -->
  <script defer src="https://kit.fontawesome.com/023d8f21ed.js" crossorigin="anonymous"></script>
  
  <th:block th:if="${link != null}" th:replace="${link}"/>
  <th:block th:if="${script != null}" th:replace="${script}"/>
  <th:block th:if="${style != null}" th:replace="${style}"/>

</head>
<body>
<div class="wrap">
  <div id="tl"><a class='logo' href="" th:href="@{/}"><i class="fa-solid fa-house"></i></a></div>
  <div id="tc" th:insert="${top}"/>
  <div id="tr"></div>
  <div id="banner" th:if="${use_banner and !#strings.isEmpty(banner)}" th:insert="${banner}"></div>
  <div id="gnb" th:insert="${gnb}"></div>
  <div id="content" th:insert="${main}"></div>
  <div id="foot" th:insert="${footer}"></div>
</div>
</body>
</html>