<!DOCTYPE html>
<html id="root"
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="main(
        title,          <!--/* title */-->
        <!--/*--------------------------*/-->
        link,           <!--/* link */-->
        script,         <!--/* script */-->
        style,          <!--/* style */-->
        <!--/*--------------------------*/-->
        top,            <!--/* top */-->
        banner,         <!--/* banner */-->
        gnb,            <!--/* gnb */-->
        main,           <!--/* main */-->
        footer         <!--/* footer */-->
      )"

      th:with="s_memberId=${authInfo != null ? authInfo.memberId : null},
               s_email=${authInfo != null ? authInfo.email : null},
               s_nickname=${authInfo != null ? authInfo.nickname : null},
               s_gubun=${authInfo != null ? authInfo.gubun : null},
               s_isAdmin=${authInfo != null ? authInfo.isAdmin : false},
               s_isVip=${authInfo != null ? authInfo.isVip : false},
               s_isNormal=${authInfo != null ? authInfo.isNormal : false},
               s_isLoggedIn=${authInfo != null ? authInfo.isLoggedIn : false}"

      th:data-s-member-id="${s_memberId}"
      th:data-s-email="${s_email}"
      th:data-s-nickname="${s_nickname}"
      th:data-s-gubun="${s_gubun}"
      th:data-s-is-admin="${s_isAdmin}"
      th:data-s-is-vip="${s_isVip}"
      th:data-s-is-normal="${s_isNormal}"
      th:data-s-is-logged-in="${s_isLoggedIn}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:if="${title != null}" th:replace="${title}">제목</title>

  <!-- 1440px 해상도 최적화 모노크롬 스타일 시스템 -->
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/base/variables.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/components/buttons.css">
  <link rel="stylesheet" href="/css/top.css">

  <!--common script-->
  <script src="/js/common.js" ></script>
  <script src="/js/top.js" ></script>

  <!-- 동적 CSS 및 알림 관리 모듈 -->
  <script src="/js/modules/cssManager.js" ></script>
  <script src="/js/modules/notificationManager.js" ></script>

  <!-- fontawesome -->
  <script defer src="https://kit.fontawesome.com/023d8f21ed.js" crossorigin="anonymous"></script>
  
  <th:block th:if="${link != null}" th:replace="${link}"/>
  <th:block th:if="${script != null}" th:replace="${script}"/>
  <th:block th:if="${style != null}" th:replace="${style}"/>

</head>
<body>
<div class="wrap">
  <div id="tl"><a class='logo' href="" th:href="@{/}"><i class="fa-solid fa-house"></i></a></div>
  <div id="tc" th:insert="${top}"/>
  <div id="tr"></div>
  <div id="banner" th:if="${banner != null and !#strings.isEmpty(banner)}" th:insert="${banner}"></div>
  <div id="gnb" th:insert="${gnb}"></div>
  
  <!-- 글로벌 메시지 영역 -->
  <div id="messages" class="messages-container">
    <div th:insert="~{fragment/message::global-messages}"/>
  </div>
  
  <div id="content" th:insert="${main}"></div>
  <div id="foot" th:insert="${footer}"></div>
</div>
</body>
</html>