<th:block th:fragment="topmenu">
  <th:block th:insert="${session?.loginMember?.gubun == 'ADMIN'} ?
                          ~{::adminTop} :
                          (${session?.loginMember} ? ~{::afterLoginTop} : ~{::beforeLoginTop})">
  </th:block>
</th:block>
<th:block th:fragment="beforeLoginTop">
  <div class="topmenu">
    <p><a href="" th:href="@{/login}">로그인</a> | <a href="" th:href="@{/members/join}">회원가입</a></p>
  </div>
</th:block>
<th:block th:fragment="afterLoginTop">
  <div class="topmenu">
    <p>
      <a th:href="@{/mypage}"><span th:text="${session?.loginMember?.nickname}"></span></a> |
      <a href="" th:href="@{/logout}" id="logout">로그아웃</a>
    </p>
  </div>
</th:block>
<th:block th:fragment="adminTop">
  <div class="topmenu">
    <p>
      <span th:text="${session?.loginMember?.nickname}"></span> (관리자) |
      <a th:href="@{/admin/dashboard}">관리자 대시보드</a> |
      <a th:href="@{/logout}" id="logout">로그아웃</a>
    </p>
  </div>
</th:block>