<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout::main(
      ~{::title},
      ~{::link},
      ~{::script},
      ~{},
      ~{::top},
      ~{::banner},
      ~{::gnb},
      ~{::main},
      ~{::footer}
      )}">
<head>
  <title th:fragment="title">캠핑장대쉬보드</title>
  <link rel="stylesheet" href="#">
  <script defer src="#"></script>
  <style></style>
</head>
<body>
<!-- 상단 메뉴 -->
<th:block >
  <nav th:fragment="top" class="topmenu" th:insert="~{fragment/top::topmenu}"/>
</th:block>

<!-- 배너 -->
<th:block th:fragment="banner">
  <header class="head" th:insert="~{fragment/banner::global}"/>
</th:block>

<!-- GNB -->
<th:block th:fragment="gnb">
  <nav class="gnb" th:insert="~{fragment/menu::gnbmenu}"/>
</th:block>

<!-- 본문 (조건부 렌더링) -->
<th:block th:fragment="main">
  <main class="main">
    <iframe src="http://localhost:5601/app/dashboards#/view/6eccb179-9361-4673-864f-2ada4d8fd661?embed=true&_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A60000)%2Ctime%3A(from%3Anow-15y%2Cto%3Anow))" height="700" width="100%"></iframe>
  </main>
</th:block>

<!-- 푸터 -->
<th:block th:fragment="footer">
  <footer class="foot" th:insert="~{fragment/footer::global}"/>
</th:block>
</body>
</html>