<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>초기화면</title>
</head>
<body>
  <h3>방문을 환영합니다.</h3>
  <ul>
    <li><a href="http://www.naver.com" th:href="@{/members/join}">회원가입</a></li>
    <li><a href="http://www.naver.com" th:href="@{/members/login}">로그인</a></li>
    <li><a href="http://www.naver.com" th:href="@{/products}">상품관리(SSR)</a></li>
    <li><a href="http://www.naver.com" th:href="@{/csr/products}">상품관리(CSR)</a></li>
    <li><a href="http://www.naver.com" th:href="@{/bbs}">게시판</a></li>
  </ul>
</body>
</html>