<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인</title>
  <link rel="stylesheet" href="" th:href="@{/css/common.css}">
</head>
<body>
  <h3>로 그 인</h3>
  <form action="" method="POST" th:object="${loginForm}">
    <div>
      <label th:for="email"></label><input type="email" th:field="*{email}">
      <div class="field-err" th:each="err : ${#fields.errors('email')}">
        <span th:text="${err}"></span>
      </div>
    </div>
    <div>
      <label th:for="passwd"></label><input type="password" th:field="*{passwd}">
      <div class="field-err" th:each="err : ${#fields.errors('passwd')}">
        <span th:text="${err}"></span>
      </div>
    </div>
    <div><button>로그인</button></div>
  </form>
</body>
</html>