<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout::main(
      ~{::title},       
      ~{::link},
      ~{::script},
      ~{},
      ~{::top},         
      ~{::banner},      
      ~{::gnb},         
      ~{::main},        
      ~{::footer}       
      )}">
<head>
  <title th:fragment="title">기본페이지</title>
  <link rel="stylesheet" href="/css/baspage.css">
  <script src="/js/basepage.js"></script>
  <style></style>
</head>
<body>
  <!-- 상단 메뉴 -->
  <div th:fragment="top" class="topmenu" th:insert="~{fragment/top::topmenu}"/>
  
  <!-- 배너 -->
  <div th:fragment="banner">
    <header class="head" th:insert="~{fragment/banner::global}"/>
  </div>
  
  <!-- GNB -->
  <div th:fragment="gnb">
    <nav class="gnb" th:insert="~{fragment/menu::gnbmenu}"/>
  </div>
  
  <!-- 본문 (조건부 렌더링) -->
  <div th:fragment="main">
    <main class="main">
      기본 페이지
    </main>
  </div>
  
  <!-- 푸터 -->
  <div th:fragment="footer">
    <footer class="foot" th:insert="~{fragment/footer::global}"/>
  </div>
</body>
</html> 