<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/layout::main(
      ~{::title},
      ~{::link},
      ~{::script},
      ~{},
      ~{::top},
      ~{::banner},
      ~{::gnb},
      ~{::main},
      ~{::footer}
      )}">
<head>
  <title th:fragment="title">회원가입</title>
  <link rel="stylesheet" href="/css/member/joinForm.css">
  <script defer src="/js/member/joinForm.js"></script>
  <style></style>
</head>
<body>
<!-- 상단 메뉴 -->
<th:block th:fragment="top">
  <nav class="topmenu" th:insert="~{fragment/top::topmenu}"/>
</th:block>

<!-- 배너 -->
<th:block th:fragment="banner">
<!--/*  <header class="head" th:insert="~{fragment/banner::global}"/> */-->
</th:block>

<!-- GNB -->
<th:block th:fragment="gnb">
  <nav class="gnb" th:insert="~{fragment/menu::gnbmenu}"/>
</th:block>

<!-- 본문 (조건부 렌더링) -->
<th:block th:fragment="main">
  <main class="main">
    <h3>회원가입</h3>
    <form action="" th:method="post" th:object="${joinForm}">
      <!-- 오류 메시지 -->
      <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
      </div>
      
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="global-err" th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
      </div>
      <div class="form-group">
        <label th:for="email">이메일 <span class="required">*</span></label>
        <input type="text" th:field="*{email}">
        <div class="field-err" th:each="err : ${#fields.errors('email')}"><span th:text="${err}"></span></div>
      </div>
      <div class="form-group">
        <label th:for="passwd">비밀번호 <span class="required">*</span></label>
        <input type="password" th:field="*{passwd}" maxlength="12">
        <div class="field-err" th:each="err : ${#fields.errors('passwd')}"><span th:text="${err}"></span></div>
      </div>
      <div class="form-group">
        <label th:for="passwdChk">비밀번호확인 <span class="required">*</span></label>
        <input type="password" th:field="*{passwdChk}">
        <div class="field-err" th:each="err : ${#fields.errors('passwdChk')}"><span th:text="${err}"></span></div>
      </div>
      <div class="form-group">
        <label th:for="tel">전화번호</label>
        <input type="text" th:field="*{tel}">
        <div class="field-err" th:each="err : ${#fields.errors('tel')}"><span th:text="${err}"></span></div>
      </div>
      <div class="form-group">
        <label th:for="nickname">별칭</label>
        <input type="text" th:field="*{nickname}">
        <div class="field-err" th:each="err : ${#fields.errors('nickname')}"><span th:text="${err}"></span></div>
      </div>
      <div class="form-group">
        <label>성별 <span class="required">*</span></label>
        <div class="radio-group">
          <th:block th:each="ele : ${genderCodes}">
            <label><input type="radio" th:field="*{gender}" th:value="${ele.code}"><span th:text="${ele.decode}"></span></label>
          </th:block>
        </div>
        <div class="field-err" th:each="err : ${#fields.errors('gender')}"><span th:text="${err}"></span></div>
      </div>
      <div class="form-group">
        <label th:for="birthDate">생년월일 <span class="required">*</span></label>
        <input type="date" th:field="*{birthDate}">
        <div class="field-err" th:each="err : ${#fields.errors('birthDate')}"><span th:text="${err}"></span></div>
      </div>
      <div class="form-group">
        <label>취미</label>
        <div class="checkbox-group">
          <th:block th:each="ele : ${hobbyCodes}">
            <label><input type="checkbox" th:field="*{hobby}" th:value="${ele.codeId}"><span th:text="${ele.decode}"></span></label>
          </th:block>
        </div>
        <div class="field-err" th:each="err : ${#fields.errors('hobby')}"><span th:text="${err}"></span></div>
      </div>
      <div class="form-group">
        <label for="region">지역</label>
        <select th:field="*{region}">
          <option value="">==선택==</option>
          <th:block th:each="ele : ${regionCodes}">
            <option th:value="${ele.codeId}" th:text="${ele.decode}"></option>
          </th:block>
        </select>
        <div class="field-err" th:each="err : ${#fields.errors('region')}"><span th:text="${err}"></span></div>
      </div>
      <div class="button-group">
        <button type="submit">가입</button>
        <button type="reset">취소</button>
      </div>
    </form>
  </main>
</th:block>

<!-- 푸터 -->
<th:block th:fragment="footer">
  <footer class="foot" th:insert="~{fragment/footer::global}"/>
</th:block>
</body>
</html>